.App {
  margin: 1em;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  max-width: 768px;
}

@media only screen and (min-width: 768px) {
  .App {
    margin: 1em auto;
  }
  #bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.Header {
  font-family: 'Poiret One', cursive;
  display: flex;
  justify-content: center;
  height: 50vh;
  flex-direction: column;
}

.Logo {
  font-size: 8em;
  margin: 1rem;
}

.Nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 1em 0;
}

.Nav li {
  padding: 0 1em;
}
.Nav li:nth-child(1) {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.Nav a {
  border-bottom: 1px solid black;
}

.Content > * {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1em 0;
  /*border: 1px solid black;*/
}

.SectionTitle {
  font-family: 'Poiret One', cursive;
  font-weight: lighter;
  font-size: 2em;
  margin: 1rem 0;
}

.SectionContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  height: 3em;
  margin: 1em;
}

#bio {
  width: 100%;
  word-wrap: break-word;
  line-height: 1.5;
}

#contact {
  margin: 2em auto;
}

.ContactList {
  list-style: none;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.ContactList li {
  margin: 0.5em 0;
}

.Button {
  background-color: #6b238e;
  border-radius: 1px;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  max-width: 384px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
  margin: 2em auto;
}

.Button a {
  color: white;
  border-bottom: 0;
}

.Button:hover {
  background-color: #783999;
}
